{erl_opts, [debug_info]}.

{deps, []}.


{shell, [
    {apps, [rng,ra]},
    {config, "config/sys.config"}
]}.

{dist_node, [
    {name, 'numen_frng@127.0.0.1'},
    {setcookie, '1234'}
]}.


{relx, [{release, {rng, "0.1.0"},
    [rng,
        sasl]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]
}.

{profiles,
    [{prod, [{relx, [
        {include_src, false},
        {dev_mode, false},
        {include_erts, "/centos_erlang"},
        {system_libs, "/centos_erlang/lib"},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"}
    ]}]

    }]

}.
